<form role="form">
    <div class="form-group">
        <label for="input_one">Input One</label>
        <input type="text" class="form-control" id="input_one">
    </div>
    <div class="form-group">
        <label for="input_two">Input Two</label>
        <input type="text" class="form-control" id="input_two">
    </div>
    <div class="form-group">
        <label for="input_three">Input Three</label>
        <input type="text" class="form-control" id="input_three">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
